html,body{
	
	background-color: #f2f4da;
    color:#306a45;
}

.chart{
	margin-top:20px;
}

.embed{
	font-size: 10px;
}

.unit .u,.unit .u{
	display: inline;
    vertical-align: top;
}

.unit p{
	margin-top: 5px;
	margin-bottom: 0px;
}

.unit h4{

	margin-bottom: 15px;
}

.liveData{
	
	background-color: #a1c436;
	color:#306a45;

}

.row{
	padding-top: 20px;
	padding-bottom: 20px;

}

.nav-link{
		color:#a1c436;
}



.topbar{
	background-color: #306a45; 
	color:#a1c436;
}

.topbar a{
	color:#a1c436;
	text-decoration: underline;
}
.colpadding{
	padding-left: 10px;
}



