html,body{
	
	background-color: rgb(255,255,255); 
	background-image: url('/img/slogan.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
    background-size: 100px 100px;
}


.nav-bar{
	background-color: rgb(240, 243,218); 
}

.chart{
	margin-top:20px;
}

.embed{
	font-size: 10px;
}

.unit .u,.unit .u{
	display: inline;
    vertical-align: top;
}

.liveData{
	padding: 20px;
	background-color: #a1c436;
	color:#306a45;
}
