
<div class="row liveData">


		
		<div class="col-md-3 unit" ng-repeat="liveParam in liveDataParameters">
		<p  ng-bind="liveParam.readingTypeName"></p>
		<h2 class="u" ng-bind="liveParam.value"></h2><p class="u" ng-bind="liveParam.unit"></p>
        </div>

	</div>



	
<div class="row">
			<div class="col-md-2">
				<h5>Periode</h5>
				<p><small>Her kan se data for en valgt periode</small></p>

			</div>
			<div class="col-md-3">
			
<md-input-container>
	<label>Fra</label>
     <md-datepicker ng-model="startDate"  ng-change="startDateChanged()"  md-placeholder="Enter date"></md-datepicker>
    	</md-input-container>
  
     </div>
    
     <div class="col-md-3">
     
	<md-input-container>
        <label>Til</label>
      <md-datepicker ng-model="endDate" ng-change="endDateChanged()" md-placeholder="Enter date"></md-datepicker>
      </md-input-container>    
  </div>
	

	<div class="col-md-4">
		 <md-input-container>
        <label>Parametre</label>
        <md-select flex="40" ng-change="paramUpdates()" ng-model="parametre" multiple>
            <md-option ng-value="readingType.shortname"  ng-repeat="readingType in readingTypes">{{readingType.readingTypeName}}</md-option>
        </md-select>
      </md-input-container>
	</div>

      </div>


<div class="row">

<div class="col-md-12" ng-repeat="chart in charts">
	<h3 ng-if="chart.isLoading">Henter data... ({{chart.name}})</h3>
	<center><h4 class="chart">{{chart.series[0]}}</h4></center>
	<div style="height: 400px">
		<canvas class="chart chart-line" chart-data="chart.data"
chart-labels="chart.labels" chart-dataset-override="datasetOverrides" chart-series="chart.series" chart-colors="chart.colors" chart-options="chart.options">
</canvas>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-12">
		<center>
		  <button type="button" ng-click="downloadExcelfile()" class="btn btn-secondary" >Download data som excelark</button>
		</center>
	</div>	
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	
	<center>
	<div class="form-group">
	
	<p class="embed">Hvis du ønsker at få denne visning på dit eget website, kan du benytte følgende embedkode</p>
	<textarea class="form-control embed" rows="2" name="">{{embedCode}}</textarea>
</div>
</center>
<div class="col-md-3"></div>
</div>