<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<center><p>Vælg tidsperiode</p></center>
		<div class="row">
			<div class="col-md-6">

     <md-datepicker ng-model="startDate"  ng-change="startDateChanged()"  md-placeholder="Enter date"></md-datepicker> 
     </div>
     <div class="col-md-6">
      <md-datepicker ng-model="endDate" ng-change="endDateChanged()" md-placeholder="Enter date"></md-datepicker>
  </div>
      </div>
  </p>
</div>
		<div class="col-md-3">

			<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Parametre
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

  		<div class="checkbox dropdown-item" ng-repeat="readingType in readingTypes">
			<label><input type="checkbox" ng-click="toogleParameter(readingType.shortname)" ng-model-options="{ getterSetter: true }" ng-model="parameterSelected(readingType.shortname)" > {{readingType.readingTypeName}}</label>
		</div>
  </div>
</div>
	</div>
</div>



<div class="row">

<div class="col-md-12" ng-repeat="chart in charts">
	<center><h4 class="chart">{{chart.series[0]}}</h4></center>
	<div style="height: 400px">
		<canvas class="chart chart-line" chart-data="chart.data"
chart-labels="chart.labels" chart-dataset-override="datasetOverrides" chart-series="chart.series" chart-colors="chart.colors" chart-options="chart.options">
</canvas>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-12">
		<center>
		  <button type="button" ng-click="downloadExcelfile()" class="btn btn-secondary" >Download data som excelark</button>
		</center>
	</div>	
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	
	<center>
	<div class="form-group">
	
	<p class="embed">Hvis du ønsker at få denne visning på dit eget website, kan du benytte følgende embedkode</p>
	<textarea class="form-control embed" rows="2" name="">{{embedCode}}</textarea>
</div>
</center>
<div class="col-md-3"></div>
</div>